*.os
*.pyc
.scon*
examples/solvetansip_main
python/hsc/meas/tansip/WCS_PL_MAINLib.py
python/hsc/meas/tansip/WCS_PL_MAINLib_wrap.cc
python/hsc/meas/tansip/SLVTS_SWIGLib_wrap.cc
python/hsc/meas/tansip/version.py
ups/solvetansip.cfgc
python/hsc/meas/tansip/SLVTS_SWIGLib.py
